doctype html
html
  head
    title Login
  body
    h1 Login
    form(action="/login", method="POST")
      div
        label(for="username") Username:
        input(type="text", name="username", id="username")
      div
        label(for="password") Password:
        input(type="password", name="password", id="password")
      div
        button(type="submit") Log In

